.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.npmrc
.yarnrc
esbuild.js
vsc-extension-quickstart.md
AGENTS.md
CLAUDE.md
CONTRIBUTING.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
